/* All InfoPages */
.infoPages * {
    font-size: 20px;
    font-family: 'Roboto mono', 'Open Sans';
}

.termsOfUse * {
    font-size: 15px;
}

.infoPages {
    /* padding-left: 20%;
    padding-right: 20%; */

    margin-bottom: 85px;
}

.infoPages .section {
    /* margin-top: 50px; */
    line-height: 30px;
}

.termsOfUse .section {
    margin-top: 30px;
}

.infoPages .title {
    font-weight: 500;
    font-size: 23px;
}

.termsOfUse .title {
    font-size: 20px;
}

.infoPages .body {
    /* margin-top: 15px; */
    font-size: 16px;
}

.termsOfUse .body {
    margin-top: 5px;
    font-size: 14px;
}

.infoPages .emphasis {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}

.infoPages .italized {
    font-style: italic;
}

.infoPages .body .subtitle {
    font-weight: bold;
    font-size: 16px;
    display: inline;
}

.termsAndPolicy .body .subtitle {
    font-size: 14px;
}

.infoPages .body .emphasis {
    font-size: 16px;
    display: inline;
}

.termsAndPolicy .body .emphasis {
    font-size: 14px;
}

.termsAndPolicy ul {
    margin-left: 30px;
    list-style-position: outside;
}

.infoPages .noBullet {
    list-style-type: none;
}

/* contactPage */

.contactPage .left {
    float: left;
    width: 50%;
}

.contactPage .right {
    float: right;
    width: 50%;
}

.contactPage {
    height: 800px;
}



@media screen and (min-width: 768px) and (max-width: 992px) {
    .infoPages * {
        font-size: 20px;
    }
    
    .infoPages {
        /* padding-left: 15%;
        padding-right: 15%; */
    
        margin-bottom: 85px;
    }
    
    .infoPages .section {
        /* margin-top: 40px; */
        line-height: 30px;
    }

    .termsAndPolicy .section {
        margin-top: 25px;
    }
    
    .infoPages .title {
        font-size: 20px;
    }

    .termsAndPolicy .title {
        font-size: 18px;
    }
    
    .infoPages .body {
        font-size: 16px;
    }

    .termsAndPolicy .body {
        font-size: 14px;
    }
    
    .infoPages .emphasis {
        font-size: 16px;
    }

    .termsAndPolicy .emphasis {
        font-size: 14px;
    }
    
    .infoPages .body .subtitle {
        font-size: 16px;
    }

    .termsAndPolicy .body .subtitle {
        font-size: 14px;
    }
    
    .infoPages .body .emphasis {
        margin-top: 5px;
        font-size: 16px;
    }

    .termsAndPolicy .body .emphasis {
        font-size: 14px;
    }
    
    .termsAndPolicy ul {
        margin-left: 20px;
    }
    
}

@media screen and (max-width: 767px) {
    .infoPages * {
        font-size: 18px;
    }

    .termsAndPolicy * {
        font-size: 13px;
    }
    
    .infoPages {
        padding-left: 10%;
        padding-right: 10%;
    
        margin-bottom: 85px;
    }
    
    .infoPages .section {
        /* margin-top: 30px; */
        line-height: 30px;
    }

    .termsAndPolicy .section {
        margin-top: 20px;
    }
    
    .infoPages .title {
        font-size: 18px;
    }
    
    .termsAndPolicy .title {
        font-size: 16px;
    }
    
    .infoPages .body {
        /* margin-top: 15px; */
        font-size: 14px;
    }

    .termsAndPolicy .body {
        margin-top: 1px;
        font-size: 13px;
    }
    
    .infoPages .emphasis {
        font-size: 14px;
    }

    .termsAndPolicy .emphasis {
        font-size: 13px;
    }

    .infoPages .body .subtitle {
        font-size: 14px;
    }

    .termsAndPolicy .body .subtitle {
        font-size: 13px;
    }
    
    .infoPages .body .emphasis {
        margin-top: 1px;
        font-size: 14px;
    }

    .termsAndPolicy .body .emphasis {
        margin-top: 1px;
        font-size: 13px;
    }

    .termsAndPolicy ul {
        margin-left: 18px;
    }
}