/* contactPage */
.contactPage .text-xs {
    width: 80%;
}

/* blogsPage */
.blogsPage main .title {
    font-size: 30px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    /* contactPage */
    .contactPage .text-xs {
        width: 90%;
    }
    
}

@media screen and (max-width: 767px) {
    /* contactPage */
    .contactPage .text-xs {
        width: 100%;
    }

    .contactPage .form {
        margin-top: 30px;
    }
}