
/* contactPage */
.contactPage * {
    font-size: 16px;
    font-family: 'Roboto mono', 'Open Sans';
}

.contactPage .title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}

.contactPage .subtitle {
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}

.contactPage .body {
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 30px;

    width: 80%;
}

.contactPage .sub-body {
    font-size: 14px;
    line-height: 30px;

    width: 80%;
}


/* blogsPage */
.blogsPage main .title {
    font-size: 30px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .contactPage * {
        font-size: 15px;
    }

    .contactPage .title {
        font-size: 27px;
        /* margin-bottom: 10px; */
    }

    .contactPage .subtitle {
        /* margin-bottom: 10px; */
        font-size: 20px;
    }

    .contactPage .body {
        font-size: 15px;
        /* line-height: 35px; */
        margin-top: 5px;

        width: 90%;
    }

    .contactPage .sub-body {
        font-size: 13px;
        /* line-height: 30px; */
    
        width: 90%;
    }
    
}

@media screen and (max-width: 767px) {
    .contactPage * {
        font-size: 15px;
    }
    
    .contactPage .title {
        font-size: 22px;
        margin-bottom: 18px;
    }

    .contactPage .subtitle {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .contactPage .body {
        font-size: 16px;
        width: 100%;
    }
    
    .contactPage .sub-body {
        width: 100%;
    }

    .contactPage .form {
        margin-top: 30px;
    }
}