/* Button Styles */

.customButton {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    background: var(--primary-color);
}

.customButton:hover {
    transition: all 0.3s ease-out;
    transition: 250ms;
    background-blend-mode: normal;
}

.outline {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid black;
    color: black;
    transition: all 0.3s ease-out;
}

.outline:hover {
    color: white;
    background: var(--primary-color);
}

.link {
    display: inline-block;
    background-color: transparent;
    border: 0px;
    color: black;
}

.link:hover {
    color: var(--primary-color);
}


/* Button Details */

.userpages {
    font-size: 16px;
    margin-top: 15px;
}

.productDetail {
    padding: 11px 170px;
}

.navbar {
    padding: 7px 20px;
}

.login {
    padding: 6px 155px;
}

.signup {
    padding: 6px 149.4px;
}

.resetpw {
    padding: 6px 119.2px;
}

.userprofile {
    padding: 6px 124.3px;
}

.updateprofile {
    padding: 6px 150.5px;
}

.black {
    border: 1px solid black;
    color: black;
}

/* Button Disabled */

.disabled {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}