.icon-btn {
    padding: 0px 20px;
    border-radius: 4pm;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.small  {
    font-size: 20px;
}

.medium {
    font-size: 25px;
} 


.large {
    font-size: 30px;
}

.navbar {
    padding: 9px 20px;
    font-size: 18px;
}

.hidden {
    display: none;
}
