.cartCard {
    width: 100%;
    display: flex;
    flex-direction:row;
    /* border-bottom: 1px solid var(--primary-light); */
    padding-bottom: 15px;
    margin-bottom: 15px;

    align-items: center;
}

.cartCard .section-sm {
    flex: 1;

    margin: 0px 10px;
}

.cartCard .section-md {
    flex: 3;
    margin: 0px 10px;
}

.cartCard .section-lg {
    flex: 4;

    padding-left: 20px;
}

.cartCard .title {
    font-weight: 500;
    color: black;
    font-size: 20px;
}

.cartCard .subtitle {
    font-weight: 400;
    margin-bottom: 10px;
}

.cartCard .image {   
    background-color: var(--primary-light);
    width: 110px;
}

.cartCard .image-width {   
    width: 110px;
}

.cartCard .quantitybox-width {
    width: 150px;
}

.cartCard .placeholder {   
    background-color: var(--primary-light);
    width: 110px;
    height: 170px;
}

.cartCard .placeholder {
    /* height: 10%; */
    /* aspect-ratio: 5000 / 6000; */

    background-color: var(--primary-light);
}

.cartCard .cardDescription {
    /* height: 130px; */
    color: black;
}


@media screen and (max-width: 767px) {
    .cartCard {
        flex-direction: column;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }

    .cartCard .section-sm {
        margin: 0px;
    }
    
    .cartCard .section-md {
        order: 4;   
        margin: 0px;
    }

    .cartCard .section-lg {
        padding-left: 0px;
    }

    .cartCard .title {
        font-size: 17px;
        margin-top: 15px;
        text-align: center;
    }

    .cartCard .subtitle {
        font-size: 15px;
        text-align: center;
        /* margin-bottom: 3px; */
    }

    .cartCard .price {
        display: none;
    }

    .cartCard .total {
        font-weight: 500;
    }

    .cartCard .image {   
        background-color: var(--primary-light);
        width: 70px;
    }

    .cartCard .image-width {   
        width: 70px;
    }

    .cartCard .placeholder {   
        background-color: var(--primary-light);
        width: 70px;
        height: 100px;
    }
}