.checkoutCard {
    width: 100%;
    display: flex;
    flex-direction:row;
    padding-bottom: 15px;
    margin-bottom: 15px;

    align-items: center;
}

.checkoutCard .section-lg {
    flex: 4;

    padding-left: 20px;
}

.checkoutCard .section-sm {
    flex: 1;

    margin: 0px 10px;
}

.checkoutCard .image {   
    background-color: var(--primary-light);
    width: 65px;
}

.checkoutCard .image-width {   
    width: 65px;
}

.checkoutCard .placeholder {   
    background-color: var(--primary-light);
    width: 110px;
    height: 170px;
}

.checkoutCard .title {
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.checkoutCard .subtitle {
    font-weight: 400;
    font-size: 13px;
}

.checkoutCard .price {
    font-weight: 500;
    font-size: 15px;
}


.checkoutCard .placeholder {
    /* height: 10%; */
    /* aspect-ratio: 5000 / 6000; */

    background-color: var(--primary-light);
}

.checkoutCard .cardDescription {
    /* height: 130px; */
    color: black;
}


@media screen and (max-width: 767px) {

    .checkoutCard .image {   
        background-color: var(--primary-light);
        width: 70px;
    }
    
    .checkoutCard .placeholder {   
        background-color: var(--primary-light);
        width: 70px;
        height: 100px;
    }

    .checkoutCard .title {
        font-size: 17px;
    }
    
    .checkoutCard .subtitle {
        font-size: 15px;
        margin-bottom: 3px;
    }
    
    .checkoutCard .body {
        margin-bottom: 3px;
    }
    
}