/* ReceiptCard */
.receiptCard {
    margin-bottom: 20px;
}

.receiptCard .cardSubtitle {
    margin-bottom: 7px;
}

.receiptCard .statusText {
    display: inline;
    font-weight: bold;
}

.receiptCard .processed {
    color: green;
}

.receiptCard .received {
    color: green;
}

.receiptCard .unpaid {
    color: red;
}


.receiptCard .processing {
    color: var(--primary-blue);
}