/* Carts Page */

.cartsPage {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cartsPage .title {
    font-size: 16px;
}


.cartsPage .freeShipping * {
    font-family: 'Roboto mono', 'Open Sans';
}

.cartsPage .freeShipping{
    font-size: 17px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.cartsPage .checkoutBox {
    margin-bottom: 10%;
    padding: 30px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-light);
    height: 100%;
}

.cartsPage .checkoutBox .estTotal {
    display: flex;
    /* align-items: center; */
    align-items: flex-end;
    justify-content: space-between;
}

.cartsPage .checkoutBox .taxShipping {
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.cartsPage .checkoutBox .estTotal .estTotalText {
    font-size: 20px;
}

.cartsPage .checkoutBox .estTotal .estTotalNumber {
    font-size: 19px;
    color: var(--primary-color);
}

.cartsPage .checkoutBox .taxShippingText {
    font-size: 15px;
    color: var(--primary-color);
}

/* Profile Page */
.myAccount {
    width: 100%;
}

.myAccount .selection {
    border-right: 1px solid var(--primary-light);
    height: 100%;
    text-align: end;
}

.myAccount .title {
    font-family: 'Roboto Mono', 'Open Sans';
    margin-bottom: 10px;
}

.myAccount .selection .title {
    font-weight: 500;
    text-align: end;
    cursor: pointer;
    font-size: 18px;
}

.myAccount .info .title {
    border-bottom: 1px solid black;
    font-weight: bold;

    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 20px;
}

.userPages {
    margin: 0 5%;
}



@media screen and (max-width: 767px) {
    .cartsPage .title-section .image-width {
        /* width: 70px; */
        width: 0px;
    }
    
}