/* .sellerPanelPage .myProductsTitle {
    display: flex;
    flex-direction:row;
} */

.sellerPanelPage .title {
    text-decoration: underline;
    cursor: pointer;
}

/* AddListingPage and AddBlogPage */
.addPostPages #mainImage {
    width: 90%;
}

.addPostPages #googleDriveCheckbox {
    margin-left: 15px;
}

.addPostPages .image {
    width: 100%;
    aspect-ratio: 5000 / 6000;
    /* height: 700px; */
}

/* AddListingPage */
.addListingPage .imgPlaceholder {
    width: 90%;
    aspect-ratio: 5000 / 6000;
    /* height: 700px; */
    background-color: var(--primary-light);
}

/* AddBlogPage */
/* .addBlogPage .imgPlaceholder {
    width: 90%;
    aspect-ratio: 300 / 200;
    background-color: var(--primary-light);
} */

.addBlogPage .blog-image {
    width: 90%;
    /* height: 300px; */
}


@media screen and (max-width: 767px) {
    .manageListingsPage .product-title {
        display: none;
    }
}
