/* mainImage section */

.mainImage {
    width: 100%;
}


/* Featured section */
.featured .title {
    font-size: 20px;
    font-weight: bold;
}


/* bestSeller section */

.bestSeller {
    background-color: white;
}

.bestSeller .title {
    font-size: 25px;
    font-weight: bold;
    /* line-height: 70px; */
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
}

/* expectation section */

.expectation {
    height: 400px;

    padding-left: 10%;
    padding-right: 10%; 
    margin-top: 10%;
}

.expectation .left {
    float: left;
    width: 50%;
}

.expectation .cardpack-image {
    width: 280px;
    /* height: 350px; */
}

.expectation .right{
    float: right;
    width: 50%;
}

.expectation .right .title {
    width: 50%;
}

.expectation .right .description {
    margin-top: 14px;
    width: 50%;
}


/* moreAbout section */

.mainPage .moreAbout * {
    font-family: 'Roboto mono', 'Open Sans';
}

.moreAbout {
    margin-top: 10%;

    width: 100%;

    padding: 6% 10% 5% 10%;
    
}

.moreAbout .title {
    font-size: 20px;
    font-weight: bold;
}

.moreAbout .explanations {
    display: flex;
    flex-direction:row;

    padding-top: 7%;
}

.moreAbout .explanations .first {
    flex: 1;
}

.moreAbout .explanations .second {
    flex: 1;
}

.moreAbout .explanations .third {
    flex: 1;
}

.moreAbout .explanations .subTitle {
    font-size: 18px;
    font-weight: bold;
}

.moreAbout .explanations .description {
    font-size: 14px;
    width: 80%;
}

/* exclusive section */

.exclusive {
    margin: 5%;
    padding: 50px;

    background: url(/src/assets/trading_card_game.jpeg);
    background-color: var(--primary-light);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 90%;
    height: 550px;
    opacity: 0.9;
}


.exclusive .title {
    width: 30%;
    font-size: 35px;
    font-weight: bold;
    color: black;
}