/* mainImage section */

.mainImage {
    width: 100%;
}


/* Featured section */
.featured .title {
    font-size: 20px;
    font-weight: bold;
}

/* bestSeller section */

.bestSeller {
    margin-top: 6%;
    background-color: white;
}

.bestSeller .title {
    font-size: 25px;
    font-weight: bold;
    /* line-height: 70px; */
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
}