.cardMargin {
    margin-bottom: 5%;
}

.carousel {
    display: none;
}

.productRow {
    display: inline;
}

@media screen and (max-width: 767px) {
    .carousel {
        display: inline;
    }

    .productRow {
        display: inline;
    }
    
    .hide {
        display: none;
    }

    .productRow .hide {
        display: none;
    }
}