.navBar .hide-full {
    display: none;
}

.NavBar-Bottom {
    background: white;
    border-top: 1px solid var(--primary-light);
    border-bottom: 1px solid var(--primary-light);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

.NavBar-Bottom .nav-bottom-menu-items {
    padding: 0px 5% 0% 5%;
    margin: 0px;

    height: 50px;

    display: grid;
    grid-template-columns: repeat(4, auto);
    /* grid-gap: 80px; */
    list-style: none;
    text-align: list;
    width: 70vw;
    justify-content: flex-start;
    text-transform: uppercase;
}

.NavBar-Bottom .nav-menu-item {
    /* padding-right: 40px; */
    margin-right: 80px;
    line-height : 50px;
    color: black;
    text-decoration: none;

}

.NavBar-Bottom .nav-menu-item:hover {
    color: var(--primary-color);
}

.NavBar-Bottom .nav-user {
    display: none;
}

@media screen and (max-width: 992px) {
    .NavBar-Bottom {
        display: none;
    }
    .navBar .hide-full {
        display: inline;
    }
}





