.NavBar-Expanded {
    background: white;
    border-bottom: 1px solid var(--primary-light);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
    padding: 1% 2.5%;
}

.NavBar-Expanded .nav-expanded-menu-items {
    /* padding: 0px 5% 0% 5%; */
    margin: 0px;
    list-style: none;
    text-align: list;
    width: 100%;
    justify-content: flex-start;
    /* text-transform: uppercase; */
}

.NavBar-Expanded .nav-expanded-menu-items .title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.NavBar-Expanded .nav-menu-item {
    margin-right: 30px;
    line-height : 32px;
    color: black;
    text-decoration: none;
}

.NavBar-Expanded .nav-menu-item:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    .NavBar-Expanded {
        display: none;
    }
}
