.footer {
    background-color: var(--primary-light);

    color: black;
    font-size: 14px;
    font-family: Roboto;
}

.footer .link {
    color: black;
}

.footer {
    padding: 40px;
    height: 230px;
}

.footer .title {
    font-weight: bold;
}

.footer .link {
    text-decoration: underline;
}

.footer .companyDescription {
    width: 70%;
    float: left;
}

.footer .footerAbout {
    width: 30%;
    float: right;

    display: flex;
    flex-direction:row;
}

.footerAbout .section {
    flex: 1;
}

.footerAbout .section .title {
    padding-bottom: 10px;
}

.footerAbout .section .link {
    padding-bottom: 5px;
}


@media screen and (max-width: 767px) {
}