.footer {
    background-color: var(--primary-light);
    color: black;
    font-size: 16px;
    font-family: Roboto;
}

.footer .link {
    color: black;
}

.footer {
    padding: 45px;
    height: 350px;
}

.footer .title {
    font-weight: bold;
}

.footer .link {
    text-decoration: underline;
}

.footer .companyDescription {
    width: 50%;
    float: left;
}

.footer .footerAbout {
    width: 50%;
    float: right;

    display: flex;
    flex-direction:row;
}

.footerAbout .eolma {
    flex: 1;
}

.footerAbout .info {
    flex: 1;
}

.footerAbout .social {
    flex: 1;
}