.footer * {
    color: black;
    font-size: 14px;
    /* font-family: Roboto; */
}

.footer {
    background-color: var(--primary-light);
    padding: 40px;
}

.footer .title {
    font-weight: bold;
    padding-bottom: 10px;
}


.footer .link {
    color: black;
    text-decoration: underline;
}

.footer .footerAbout {
    display: flex;
    flex-direction:row;
}

.footerAbout .section-items {
    flex: 1;
}

.footerAbout .section-items .link {
    padding-bottom: 5px;
}

.footerAbout .fas {
    display: none;
}


@media screen and (max-width: 767px) {
    .footer {
        padding: 30px;
        background-color: var(--primary-light);
        /* height: 200px; */
    }

    .footer .title {
        padding-bottom: 3px;
    }

    .footer .footerAbout {
        width: 100%;
        flex-direction: column;
    }

    .footer .companyDescription {
        padding-bottom: 15px;
    }

    .footerAbout .section-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        opacity: 1;
        grid-gap: 5px;
    }

    .footerAbout .fas {
        margin-left: 10px;
        display: inline;
    }
    

    .footerAbout .section-items .title {
        padding-bottom: 0px;
        border-bottom: 1px solid var(--primary-light);
    }

    .footerAbout .section-items .section-item {
        display: none;
    }

    .footerAbout .section-items .link {
        padding-bottom: 1px;
    }
    
    .footerAbout .section-items.expanded {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .footerAbout .section-items.expanded .title {
        margin-bottom: 5px;
    }

    .footerAbout .section-items.expanded .section-item {
        display: inline;
    }
}