:root {
    --primary-pink: #ebbee4;
    --primary-blue: #468bd2;

    --primary-red: red;

    --primary-yellow: #E8DE2A;

    --primary-color: #5c5959;
    --primary-light: #00000020;
    --primary-dark: #5c5959;
    
    --primary-orange: #fcc7a7;
    
    --primary-purple: #b09cb9;
    --primary-magenta: #cd99b0;
    --primary_gradient_background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-purple) 100%);
}

/* FONTS & TEXTS */
.specialFont * {
    font-family: 'Roboto Mono', 'Open Sans';
}


.underline {
    text-decoration: underline;
}

.links {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.links:hover {
    color: var(--primary-color);
}

.emphasis_links {
    color: var(--primary-blue);
    text-decoration: underline;
}

.emphasis_links:hover {
    color: var(--primary-color);
}


/* NEW SET OF MARGIN & PADDING */
.horizontal-sm {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.horizontal-md {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.horizontal-lg {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.horizontal-xl {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.vertical-sm {
    margin-top: 30px;
    margin-bottom: 30px;
}

.vertical-md {
    margin-top: 30px;
    margin-bottom: 30px;
}

.vertical-lg {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* TITLES & BODY TEXTS TO SHARE */

#button-text {
    font-family: 'Roboto', 'Open Sans';
}

.body-xs * {
    font-size: 14px;
    line-height: 30px;
}

.body-sm * {
    font-size: 16px;
    line-height: 35px;
}

.body-md * {
    font-size: 18px;
}

.body-lg * {
    font-size: 20px;
}


.text-xs {
    font-size: 14px;
    line-height: 30px;
}

.text-sm {
    font-size: 16px;
    line-height: 35px;
}

.text-md {
    font-size: 18px;
}

.text-lg {
    font-size: 20px;
}



.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

h2 {
    font-size: 25px!important;
    font-weight: 500;
    padding-bottom: 1%;
}

h2.sm {
    font-size: 23px!important;
}

h3 {
    font-size: 20px!important;
    font-weight: 500;
    padding-bottom: 1%;
}



@media screen and (min-width: 768px) and (max-width: 992px) {
    /* NEW SET OF MARGIN & PADDING = eventaully replace all */
    .horizontal-sm {
        padding-left: 30px;
        padding-right: 30px;
    }

    .horizontal-md {
        padding-left: 50px;
        padding-right: 50px;
    }

    .horizontal-lg {
        padding-left: 8%;
        padding-right: 8%;
    }

    .horizontal-xl {
        padding-left: 15%;
        padding-right: 15%;
    }

    .vertical-sm {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .vertical-md {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .vertical-lg {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* TITLES & BODY TEXTS TO SHARE */
    h2 {
        font-size: 22px!important;
    }

    h2.sm {
        font-size: 20px!important;
    }

    h3 {
        font-size: 19px!important;
    }

    .body-xs * {
        font-size: 15px;
        /* line-height: 30px; */
    }
    
    .body-sm * {
        font-size: 16px;
        line-height: 35px;
    }
    
    .body-md * {
        font-size: 20px;
    }
    
    .body-lg * {
        font-size: 20px;
    }

}

@media screen and (max-width: 767px) {
/* NEW SET OF MARGIN & PADDING = eventaully replace all */
    .horizontal-sm {
        padding-left: 30px;
        padding-right: 30px;
    }

    .horizontal-md {
        padding-left: 40px;
        padding-right: 40px;
    }

    .horizontal-lg {
        padding-left: 8%;
        padding-right: 8%; 
    }

    .horizontal-xl {
        padding-left: 12%;
        padding-right: 12%; 
    }

    .vertical-xs {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .vertical-sm {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .vertical-md {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .vertical-lg {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    /* TITLES & BODY TEXTS TO SHARE */
    h2 {
        font-size: 20px!important;
    }

    h2.sm {
        font-size: 18px!important;
    }

    h3 {
        font-size: 17px!important;
    }

    .body-xs * {
        font-size: 14px;
        line-height: 30px;
    }
    
    .body-sm * {
        font-size: 16px;
        line-height: 35px;
    }
    
    .body-md * {
        font-size: 18px;
    }
    
    .body-lg * {
        font-size: 20px;
    }
}


/* =======below margin & padding will be deleted */

/* MARGIN & PADDING */

/* FOR SECTIONS */
.marginTop-section {
    margin-top: 40px;
}

.marginBottom-section {
    margin-bottom: 40px;
}

/* FOR BODY */
.marginTop-body {
    margin-top: 15px;
}

.marginBottom-body {
    margin-bottom: 15px;
}

/* =============== */



/* BORDERS */

.grayBorderRight {
    border-right: 1px solid var(--primary-light);
}

.grayBorderBottom {
    border-bottom: 1px solid var(--primary-light);
}

.grayBorderTop {
    border-top: 1px solid var(--primary-light);
}


/* HIDE & SHOW */
.hide-mobile {
    display: flex;
}


/* MISC */
.failedMsg {
    color: var(--primary-red);
    font-size: 15px;
}

.userPages {
    min-height: '100vh';
}

h2 {
    padding-bottom: 10px;
}

.disabledCursor { 
    cursor: default;
}


@media screen and (max-width: 767px) {
    .hide-mobile {
        display: none;
    }

    .grayBorderRight {
        border-right: 0px;
    } 
}