:root {
    --primary-pink: #ebbee4;
    --primary-blue: #468bd2;

    --primary-red: red;


    --primary-yellow: #E8DE2A;

    --primary-color: #5c5959;
    --primary-light: #00000020;
    --primary-dark: #5c5959;
    
    --primary-orange: #fcc7a7;
    
    --primary-purple: #b09cb9;
    --primary-magenta: #cd99b0;
    --primary_gradient_background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-purple) 100%);
}

.specialFont * {
    font-family: 'Roboto Mono', 'Open Sans';
}

.failedMsg {
    color: var(--primary-red);
    font-size: 15px;
}

h2 {
    padding-bottom: 10px;
}

.underline {
    text-decoration: underline;
}

.links {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.links:hover {
    color: var(--primary-color);
}

.emphasis_links {
    color: var(--primary-blue);
    text-decoration: underline;
}

.emphasis_links:hover {
    color: var(--primary-color);
}

.disabledCursor { 
    cursor: default;
}

.marginLeft {
    margin-left: 80px;
}

/* avoid use => breaks mobile */
.marginHorizontal {
    margin-left: 80px;
    margin-right: 80px;
}

.paddingHorizontal {
    padding-left: 80px;
    padding-right: 80px;
}

.paddingHorizontalSm {
    padding-left: 40px;
    padding-right: 40px;
}

.marginTop {
    margin-top: 30px;
}

.marginTopExLg {
    margin-top: 150px;
}

.marginBottom {
    margin-bottom: 35px;
}

.grayBorderRight {
    border-right: 1px solid var(--primary-light);
}

.grayBorderBottom {
    border-bottom: 1px solid var(--primary-light);
}

.grayBorderTop {
    border-top: 1px solid var(--primary-light);
}

.userPages {
    min-height: '100vh';
    /* margin-top: 35px; */
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .marginLeft {
        margin-left: 60px;
    }

    .marginHorizontal {
        margin-left: 60px;
        margin-right: 60px;
    }
    
}

@media screen and (max-width: 767px) {
    .marginLeft {
        margin-left: 45px;
    }

    .marginHorizontal {
        margin-left: 45px;
        margin-right: 45px;
    }

    .grayBorderRight {
        border-right: 0px;
    }

    .paddingHorizontal {
        padding-left: 50px;
        padding-right: 50px;
    }

    .paddingHorizontalSm {
        padding-left: 15px;
        padding-right: 15px;
    }
}