.aboutPage main {
    padding-left: 20%;
    padding-right: 20%;
}

.aboutPage main .title {
    font-weight: bold;
    font-size: 45px;
    line-height: 70px;
    color: black;
}

.aboutPage main .body {
    margin-top: 20px;
    font-size: 20px;
    color: black;
}

.aboutPage .mainImage {
    width: 700px;
    margin-top: 75px;
}

.aboutPage .description {
    margin-top: 100px;
    font-size: 15px;
    width: 40%;
}

.aboutPage .smallImages {
    margin-top: 100px;

    align-items: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
    justify-items: flex-end;
}

.aboutPage .bestSeller {
    margin-top: 100px;
}

.aboutPage .bestSeller .title {
    font-size: 35px;
    font-weight: 500;
    line-height: 70px;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.aboutPage .smallImages .productImage {
    width: 280px;
}

.aboutPage .smallImages .handImage {
    width: 260px;
}

