.overflowText {
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflowText .numberOfLines1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    -webkit-line-clamp: 1;
}

.overflowText .numberOfLines2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 2;
}

.overflowText .numberOfLines3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 3;
}