/* Product Detail Page */

.productDetailPage main {
    margin-bottom: 150px;
}


.productDetailPage .image-section .image {   
    background-color: var(--primary-light);
    width: 90%;
}

.productDetailPage .image-section .placeholder {   
    background-color: var(--primary-light);
    width: 90%;
    height: 450px;
}

.productDetailPage .productShowing .brand {
    font-size: 18px;

}

.productDetailPage .productShowing .title {
    font-size: 35px;
    line-height: 47px;
    font-weight: bold;

}

.productDetailPage .productShowing .price {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;

}

.productDetailPage .productShowing .description {
    margin-top: 15px;
    font-size: 18px;

    white-space: break-spaces;
}

.productDetailPage .productShowing .quantity {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Blog Detail Page */
.blogDetailPage main * {
    font-size: 20px;
    font-family: 'Roboto mono', 'Open Sans';
}

.blogDetailPage main {
    margin-bottom: 150px;
}

.blogDetailPage main {
    padding-left: 15%;
    padding-right: 15%;

    margin-bottom: 150px;
}

.blogDetailPage main .title {
    font-weight: 500;
    font-size: 25px;
}

.blogDetailPage main .image {
    width: 90%;
    margin-top: 2%;
}

.blogDetailPage main .body {
    margin-top: 3%;
    font-size: 15px;

    white-space: break-spaces;
}

.blogDetailPage main .placeholder {
    margin-top: 5%;
    font-size: 22px;

    width: 90%;
    height: 310px;

    background-color: var(--primary-light);
}





@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Blog Detail Page */
    .blogDetailPage main * {
        font-size: 20px;
    }

    .blogDetailPage main {
        padding-left: 12%;
        padding-right: 12%;
    
        margin-bottom: 85px;
    }

    .blogDetailPage main .title {
        font-size: 22px;
    }

    .blogDetailPage main .image {
        width: 100%;
    }

    .blogDetailPage main .body {
        font-size: 17px;
    }

    .blogDetailPage main .placeholder {
        font-size: 18px;
    }

    /* Product Detail Page */
    .productDetailPage main {
        margin-bottom: 130px;
    }
    
    .productDetailPage .productShowing .image {
        width: 100%;
    }
    
    .productDetailPage .productShowing .brand {
        font-size: 17px;
    
    }
    
    .productDetailPage .productShowing .title {
        font-size: 26px;
        line-height: 26px;
    
    }
    
    .productDetailPage .productShowing .price {
        margin-top: 7px;
        font-size: 21px;
    
    }
    
    .productDetailPage .productShowing .description {
        margin-top: 5px;
        font-size: 16px;
    }
    
    .productDetailPage .productShowing .quantity {
        margin-top: 24px;
        margin-bottom: 12px;
    }
}


@media screen and (max-width: 767px) {
    /* Blog Detail Page */
    .blogDetailPage main * {
        font-size: 18px;
    }

    .blogDetailPage main {
        padding-left: 10%;
        padding-right: 10%;
    
        margin-bottom: 85px;
    }

    .blogDetailPage main .title {
        font-size: 16px;
    }

    .blogDetailPage main .image {
        width: 100%;
    }

    .blogDetailPage main .body {
        font-size: 14px;
    }

    .blogDetailPage main .placeholder {
        font-size: 18px;
    }

    /* Product Detail Page */
    .productDetailPage main {
        margin-bottom: 130px;
    }
    
    .productDetailPage .productShowing .image {
        width: 100%;
    }
    
    .productDetailPage .productShowing .brand {
        margin-top: 20px;
        font-size: 15px;
    
    }
    
    .productDetailPage .productShowing .title {
        font-size: 25px;
        line-height: 25px;
    
    }
    
    .productDetailPage .productShowing .price {
        margin-top: 5px;
        font-size: 20px;
    
    }
    
    .productDetailPage .productShowing .description {
        margin-top: 5px;
        font-size: 16px;
    }
    
    .productDetailPage .productShowing .quantity {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}