:root {
    --primary-color: #5c5959;
    --primary-pink: #f1a9aa;
    --primary-orange: #fcc7a7;
    --primary-blue: #88c0db;
    --primary-purple: #b09cb9;
    --primary-magenta: #cd99b0;
    --primary_gradient_background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-purple) 100%);
  }

.icon-btn {
    padding: 0px 20px;
    border-radius: 4pm;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.icon-btn--small  {
    font-size: 20px;
}

.icon-btn--medium {
    font-size: 25px;
} 


.icon-btn--large {
    font-size: 30px;
}

.icon-btn--navbar {
    padding: 9px 20px;
    font-size: 18px;
}

.hidden {
    display: none;
}
