/* Check out Page */
.checkoutPage {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.checkoutPage .fa-chevron-right {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
}

.checkoutPage .stageText {
    cursor: pointer;
}

.checkoutPage .selected {
    font-weight: 500;
}

.checkoutPage .stageText:hover {
    color: var(--primary-blue);
}

.checkoutPage .carts .items {
    border-bottom: 1px solid var(--primary-light);
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.checkoutPage .prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkoutPage .subpriceText {
    font-size: 16px;
}

.checkoutPage .totalPrice {
    font-weight: 500;
    font-size: 18px;
    padding-top: 15px;
    margin-top: 10px;
    border-top: 1px solid var(--primary-light);
}

.checkoutPage .totalPriceText {
    font-weight: 500;
}

/* Receipt Page */
.receiptPage {
    width: 80%;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

.receiptPage .section {
    margin-bottom: 30px;
}

.receiptPage .items  {
    padding-top: 50px;
}

.receiptPage .line {
    padding-bottom: 3px;
}

.receiptPage .title {
    font-weight: 500;
}

.receiptPage .main-title {
    border-bottom: 1px solid black;
    font-weight: bold;

    font-family: 'Roboto Mono', 'Open Sans';

    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 20px;

}

.receiptPage .line {
    font-weight: 500;
    font-size: 16px;
}

.receiptPage .statusText {
    font-weight: bold;
}

.receiptPage .line .processed {
    color: green;
}

.receiptPage .line .received {
    color: green;
}

.receiptPage .line .processing {
    color: var(--primary-blue);
}

.receiptPage .line .unpaid {
    color: red;
}


.receiptPage .prices {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.receiptPage .priceline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.receiptPage .orderTotal {
    font-size: 17px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--primary-light);
}





.receiptPage .subpriceText {
    font-size: 16px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .checkoutPage .carts {
        margin-top: 15px;
    }
}


@media screen and (max-width: 767px) {
    .checkoutPage .carts {
        margin-top: 30px;
    }
}