.quantityBox {
    height: 50px;
    width: 120px;
    border: 2px solid;
    border-radius: 2px;
    border-color: var(--primary-dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ChooseQuantity Box */
.chooseQuantity {
    display: flex;
    text-align: center;
    margin-top: 30px;
}

.noRemoveButton {
    margin-top: 5px;
}

.chooseQuantity .setHeight .box {
    padding-top: 0px;
    padding-bottom: 0px;
}

.chooseQuantity .box {
    padding: 10px;
    margin-bottom: 5px;

    width: 150px;

    border-radius: 5px;
    border: 1px solid var(--primary-light);
    
}

.chooseQuantity .fas {
    display: inline;
    cursor: pointer;
    color: black;   
}

.chooseQuantity .quantity-section {
    display: flex;
    align-items: center;
}

.chooseQuantity .section {
    flex: 1;
}

.chooseQuantity .quantity {
    font-size: 19px;
}

.chooseQuantity .disable {
    color: gray;
    cursor: default;
}

.chooseQuantity .removeText {
    font-size: 14px;

    line-height: 24px;
    /* color: var(--primary-dark);
    cursor: pointer; */
}

.chooseQuantity .addButton {
    margin-left: 25px;
}


/* Placeholder Box */
.placeholderBox * {
    background-color: var(--primary-light);
}

.placeholderBox .pagebox {
    width: 400px;
}

.placeholderBox .cardbox {
    /* width: 200px; */
    width: 90%;
}

.placeholderBox .title {
    height: 30px;
    margin-bottom: 10px;
}

.placeholderBox .subtitle {
    height: 20px;
    margin-bottom: 8px;
}

.placeholderBox .body {
    height: 18px;
    /* margin-bottom: 5px; */
}

.placeholderBox .body-lg {
    height: 200px;
    /* margin-bottom: 5px; */
}


/* Banner */
.banner * {
    font-family: 'Roboto mono', 'Open Sans';
}

.banner {
    margin-top: 6%;
    width: 100%;
    padding: 4% 8% 3% 8%;
    cursor: pointer;
}

.banner .title {
    font-size: 18px;
    font-weight: bold;
}

.banner .explanations {
    display: flex;
    flex-direction:row;

    padding-top: 4%;
}

.banner .explanations .section {
    flex: 1;
}

.banner .explanations .subTitle {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.banner .explanations .description {
    font-size: 13px;
    width: 80%;
}

.banner .selection {
    padding-top: 15px;
    margin-left: 80%;
}

.banner .fas {
    display: none;
}

/* Marquee */
.marquee {
    height: 25px;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;

    cursor: pointer;
}

.marquee .text {
    font-size: 13px;
    letter-spacing: 4px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.marquee .text:hover {
    color: var(--primary-pink);
}

/* loadingBox */
.loadingBox .fa {
    font-family: 'Font Awesome 5 Free';
}


/* Cart Pop up */
.cartPopup {
    cursor: pointer;
    position: absolute;
    background-color: white;
    right: 5%;
    top: 105px;
    transform: translate(0%, 0%);

    width: 270px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;

    text-align: center;
}

.cartPopup .errMsg {
    color: var(--primary-red);
    font-size: 16px;
}

.cartPopup .productInfo {
    display: flex;
}

.cartPopup .productInfo .image {
    flex: 1;
    width: 50px;
    margin: 20px 20px 5px 20px;
    border-radius: 5px;
}

.cartPopup .productInfo .description {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 20px;
}

.cartPopup .productInfo .titleText {
    font-weight: 500;
    font-size: 16px;
}

.cartPopup .productInfo .priceText {
    font-size: 16px;
    color: var(--primary-dark);
}

.cartPopup .addedText {
    color: black;
    font-size: 13px;
}

/* Search Bar */
.searchBar #search-form {
    display: flex;
    justify-content: center;

    /* height: 50px; */

    width: 300px;

    padding-right: 10%;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .quantityBox {
        height: 40px;
        border: 2px solid;
    }
}


@media screen and (max-width: 767px) {
    .quantityBox {
        height: 35px;
        width: 100%;
        border: 1.5px solid;
    }

    /* Banner */
    .banner {
        margin-top: 7%;
        width: 100%;
        padding: 5% 8% 4% 8%;   
    }

    .banner .title {
        font-size: 17px;
    }

    .banner .explanations {
        display: block;
        flex-direction:row;

        padding-top: 5%;
    }

    .banner .explanations .subTitle {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .banner .explanations .description {
        font-size: 13px;
        width: 100%;
    }
    
    .banner .fas {
        display: inline;
        font-family: 'Font Awesome 5 Free';
        font-size: 25px;
    }
    
    .banner .fa-angle-left {
        margin-right: 25px;
    }    

    .banner .disable {
        color: gray;
    }

    /* Placeholder Box */
    .placeholderBox .pagebox {
        width: 90%;
    }

    /* ChooseQuantity Box */
    .chooseQuantity {
        margin-top: 15px;
    }

    /* Search Bar */
    .searchBar {
        
        width: 100vw;
        justify-content: flex-start;
        align-items: flex-start;

        padding-right: 0%;
    }

    .searchBar #search-form {
        height: 50px;
        
        width: 100%;

        justify-content: space-between;

        padding-right: 0%;
    }

    .searchBar #search-form .search-bar {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .searchBar #search-form .search-bar #cancelText {
        font-size: 12px;
        padding-left: 10px;
    }

    .searchBar #search-form #search-bar {

        padding-right: 0%;
    }
}
